discord.py
PyNaCl
aiohttp
async-timeout
attrs
certifi
cffi
chardet
charset-normalizer
click
colorama
discord
discord.py
dotenv-cli
gTTS
idna
multidict
pip
pycparser
requests
setuptools
six
typing-extensions
urllib3
yarl